.contact-card{
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.link-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.link-list > a {
    font-size: 3em;
    color: 	#363636;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.link-list > .link {
    font-size: 1em;
    color: 	#363636;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.checkbox input {
    margin: 5px;
}
