body{
  margin: 0px;
  padding: 0px;

}

form{
  width: 100%;
}

.content{
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container{
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  width: 500px;
  margin: 1%;
  padding: 1%;
}

.image-gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.image{
   min-width: 150px;
}

.notification{
  width: 100%;
}

.three-words{
  width: 50%;
}

#content-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
  margin-top: 5%;
}

#contributor-box{
  display: flex;
  flex-wrap: wrap;
}
