@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    *{
      font-size: 100%;
    }

    article{
      margin-top: 50px;
    }

    .navbar-burger{
      width: 6.5rem;
      height: 6.5rem;
    }

    .section{
      display: flex;
      flex-direction: column;
    }
    
    .container{
      width: 90%;
    }

    .card{
      width: 95%;
      padding: 5%;
    }    

}
